body {
  background-color: #000;
  color: #0f0;
}

input {
  background-color: #000;
  color: #0f0;
  border: none;
}

button {
  background-color: #0f0;
  color: #000;
  border: none;
}

.controls {
  height: 1em;
  width: 100%;
}

.controls::before {
  content: '>';
}

.controls input {
  width: 2em;
}

.controls input.q {
  width: 85%;
}

.output-box {
  border: 1px solid #0f0;
  margin: 2em 1em;
  padding: 1em;
  position: relative;
}

.output-box .label {
  position: absolute;
  top: -10px;
  left: 30px;
  background-color: #000;
  padding: 0 10px;
}

.output-box .output-box {
  margin: 0 1em;
  border: none;
  border-bottom: 1px dashed
}

.output-box .output-box:last-child {
  border-bottom: none;
}

.output-box .result {
  background-color: #0f0;
  color: #000;
  display: inline-block;
  padding: 1px 2px;
}

.output-box .result .arrow {
  display: inline-block;
  height: 0;
  width: 0;
  vertical-align: middle;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 3px solid black;
}
